/*
	Author: Alexandru Edward Balaj
	Date: 15/07/2021
	Project: Simple DeepL API Integration
	License: MIT License
	File name: style.css
	File description: Stylesheet for the visual interface of the API.
*/

#layout {
	display: block;
	width: 50%;
	margin: 0 auto;
}

#source {
	display: block;
	margin: 1em 0;
}

#destination {
	display: block;
	margin: 1em 0;
}

textarea {
	word-wrap: break-word;
	min-width: 100%;
	max-width: 100%;
	min-height: 10em;
}

select {
	display: block;
	width: 10em;
	margin: 1em 0;
}